In [1]:
import pandas as pd

import pathlib

import glob

import os

In [2]:
import json

In [3]:
path = r'C:\Users\msidharth\Desktop\Sidharth\Revolve\python-assignment-level2-6ed53b4e828af18bc24b1770a3a3e3e70706e785\input_data\starter'

In [4]:
cm = pd.read_csv(path+'\\'+'customers.csv')
cm.head(1)

  customer_id  loyalty_score
0          C1              7

In [5]:
pm = pd.read_csv(path+'\\'+'products.csv')
pm.head(1)

  product_id product_description product_category
0        P01           detergent            house

In [6]:
fct = pd.DataFrame()

In [7]:
for f in glob.glob(path+'\\*\\*\\*.json', recursive=True):
    fct_loop = pd.read_json(f, lines=True)
    fct = fct.append(fct_loop, ignore_index=True)

In [12]:
# fct

In [13]:
records_list = []
index = 0
basket_df = pd.DataFrame()
for record in fct['basket'].tolist():
    basket_loop = pd.DataFrame(record)
    basket_loop['index'] = index
    index = index + 1
    basket_df = basket_df.append(basket_loop)

In [14]:
basket_df.head(1)

  product_id  price  index
0        P40     48      0

In [15]:
basket_df['price'].sum()

4158094

In [16]:
fct.reset_index().head(1)

,index,customer_id,basket,date_of_purchase
0,0,C17,"[{'product_id': 'P40', 'price': 48}]",2018-12-01 23:34:00

In [17]:
fct_basket = basket_df.merge(fct.reset_index())
fct_basket.head(1)

,product_id,price,index,customer_id,basket,date_of_purchase
0,P40,48,0,C17,"[{'product_id': 'P40', 'price': 48}]",2018-12-01 23:34:00

In [18]:
pm.head(1)

  product_id product_description product_category
0        P01           detergent            house

In [19]:
cm.head(1)

  customer_id  loyalty_score
0          C1              7

In [20]:
print(fct_basket['price'].sum())
fct_basket_pcm = fct_basket.merge(pm).merge(cm)
print(fct_basket_pcm['price'].sum())

4158094
4158094

In [21]:
fct_basket_pcm.columns

Index(['product_id', 'price', 'index', 'customer_id', 'basket',
       'date_of_purchase', 'product_description', 'product_category',
       'loyalty_score'],
      dtype='object')

In [22]:
fct_basket_pcm.head(1)

,product_id,price,index,customer_id,basket,date_of_purchase,product_description,product_category,loyalty_score
0,P40,48,0,C17,"[{'product_id': 'P40', 'price': 48}]",2018-12-01 23:34:00,irn bru,sweets,2

In [25]:
fct_basket_pcm['date_of_purchase'] = pd.to_datetime(fct_basket_pcm['date_of_purchase'])

In [31]:
fct_basket_pcm['week'] = fct_basket_pcm['date_of_purchase'].dt.isocalendar()['week']
fct_basket_pcm['year'] = fct_basket_pcm['date_of_purchase'].dt.isocalendar()['year']

In [34]:
fct_basket_pcm['year_week'] = fct_basket_pcm['year'].astype(str)+'_'+fct_basket_pcm['week'].astype(str)

In [37]:
fct_basket_pcm.head(1)

,product_id,price,index,customer_id,basket,date_of_purchase,product_description,product_category,loyalty_score,week,year,year_week
0,P40,48,0,C17,"[{'product_id': 'P40', 'price': 48}]",2018-12-01 23:34:00,irn bru,sweets,2,48,2018,2018_48

In [48]:
fct_basket_pcm_week = fct_basket_pcm.groupby(['year_week','customer_id','loyalty_score','product_id','product_category']).agg(purchase_count=('date_of_purchase','nunique')).reset_index()

In [50]:
# df.to_parquet('./mydf', partition_cols=['year', 'month', 'day'])

In [51]:
fct_basket_pcm_week.head(1)

,year_week,customer_id,loyalty_score,product_id,product_category,purchase_count
0,2018_48,C102,1,P27,fruit_veg,1

In [59]:
required_columns = ['customer_id', 'loyalty_score', 'product_id', 'product_category', 'purchase_count']

In [78]:
# fct_basket_pcm_week.groupby(pd.Grouper(key='year_week')).apply(lambda record : record[required_columns].to_json(r"W={}.json".format(record['year_week'].unique()),
#                                                                                                                 orient='records'))

In [77]:
fct_basket_pcm_week.groupby(pd.Grouper(key='year_week')).apply(lambda record:record[required_columns].to_json(os.getcwd()+'\\'+'output'+'\\'+"W={}.json".format(record['year_week'].unique()),
                                                                                                              orient='records'))

Empty DataFrame
Columns: []
Index: []