In [1]:
import pandas as pd

import pathlib

import glob

import os

In [2]:
import json

In [3]:
path = r'C:\Users\msidharth\Desktop\Sidharth\Revolve\python-assignment-level2-6ed53b4e828af18bc24b1770a3a3e3e70706e785\input_data\starter'

create a function to read files

def read_json(path, is_recursive=True, fct=[]):
    if is_recursive:
        for file in folder:
            fct_loop = read_json(path,is_recursive=False, fct)
        
    # processing
    return data

def read_csv(path):
    # processing
    return data
    
    
csv_data
json_data



def unpack_dataframe(data_df, column):
index = 0
basket_df = pd.DataFrame()
for record in data_df[column].tolist():
    basket_loop = pd.DataFrame(record)
    basket_loop['index'] = index
    index = index + 1
    basket_df = basket_df.append(basket_loop)

return basket_df

def merge_dfs(dfs=[]):
    return merged_dfs

merge_dfs(unpacked_df)

In [4]:
cm = pd.read_csv(path+'\\'+'customers.csv')
cm.head(1)

  customer_id  loyalty_score
0          C1              7

In [5]:
pm = pd.read_csv(path+'\\'+'products.csv')
pm.head(1)

  product_id product_description product_category
0        P01           detergent            house

In [6]:
fct = pd.DataFrame()

In [7]:
fct

Empty DataFrame
Columns: []
Index: []

In [8]:
for f in glob.glob(path+'\\*\\*\\*.json', recursive=True):
    fct_loop = pd.read_json(f, lines=True)
    fct = fct.append(fct_loop, ignore_index=True)

In [9]:
fct.head(1)

  customer_id                                basket     date_of_purchase
0         C17  [{'product_id': 'P40', 'price': 48}]  2018-12-01 23:34:00

In [19]:
def flatten_df(record, column_to_flatten, other_columns ,append_to_list):
    # print(record)
    df = pd.DataFrame(record[column_to_flatten])
    for column_name in other_columns:
        df[column_name] = record[column_name]
        
    append_to_list.append(df)
    return append_to_list

In [22]:
append_to_list = []
column_to_flatten = 'basket'
other_columns = ['customer_id','date_of_purchase']

In [23]:
append_to_list = fct.apply(lambda record: flatten_df(record, 'basket', other_columns, append_to_list), axis=1)

In [ ]:
len(append_to_list)

In [ ]:
append_to_list

In [ ]:
for index, record in fct.head(5).iterrows():

In [ ]:
index = 0
basket_df = pd.DataFrame()
for record in fct['basket'].tolist():
    basket_loop = pd.DataFrame(record)
    basket_loop['index'] = index
    index = index + 1
    basket_df = basket_df.append(basket_loop)

In [ ]:
basket_df.head(10)

In [ ]:
basket_df['price'].sum()

In [ ]:
fct_basket = basket_df.merge(fct.reset_index())
fct_basket.head(1)

In [ ]:
fct_basket['price'].sum()

In [ ]:
pm.head(1)

In [ ]:
cm.head(1)

In [ ]:
print(fct_basket['price'].sum())
fct_basket_pcm = fct_basket.merge(pm).merge(cm)
print(fct_basket_pcm['price'].sum())

In [ ]:
fct_basket_pcm.columns

In [ ]:
fct_basket_pcm.head(1)

In [ ]:
fct_basket_pcm['date_of_purchase'] = pd.to_datetime(fct_basket_pcm['date_of_purchase'])

In [ ]:
fct_basket_pcm['week'] = fct_basket_pcm['date_of_purchase'].dt.isocalendar()['week']
fct_basket_pcm['year'] = fct_basket_pcm['date_of_purchase'].dt.isocalendar()['year']

In [ ]:
fct_basket_pcm['year_week'] = fct_basket_pcm['year'].astype(str)+'_'+fct_basket_pcm['week'].astype(str)

In [ ]:
fct_basket_pcm.head(1)

In [ ]:
fct_basket_pcm_week = fct_basket_pcm.groupby(['year_week','customer_id','loyalty_score','product_id','product_category']).agg(purchase_count=('date_of_purchase','nunique')).reset_index()

In [ ]:
fct_basket_pcm.groupby(['year_week','customer_id','loyalty_score','product_id','product_category']).__dict__

In [ ]:
fct_basket_pcm.groupby(['year_week','customer_id','loyalty_score','product_id','product_category']).obj

In [ ]:
fct_basket_pcm_week.head(1)

In [ ]:
required_columns = ['customer_id', 'loyalty_score', 'product_id', 'product_category', 'purchase_count']

In [ ]:
fct_basket_pcm_week.groupby(pd.Grouper(key='year_week')).apply(lambda record:record[required_columns].to_json(os.getcwd()+'\\'+'output'+'\\'+"W={}.json".format(record['year_week'].unique()),
                                                                                                              orient='records'))